In [1]:
import os

import pandas as pd
import numpy as np

from dotenv import load_dotenv

from core_ds4a_project import cleaning, columns as project_columns, datasets

%load_ext autoreload
%autoreload 1
%aimport core_ds4a_project, core_ds4a_project.cleaning, core_ds4a_project.columns, core_ds4a_project.datasets

pd.set_option("display.max_columns", None)

Environment variables:

In [2]:
load_dotenv('envvars')

ROOT_DATA_PATH = os.environ.get('ROOT_DATA_PATH')
RAW_DATA_PATH = os.environ.get('RAW_DATA_PATH') or f'{ROOT_DATA_PATH}/raw'

Reading data:

In [3]:
(cartera_df, clientes_df, colocacion_df) = datasets.read_joining_datasets(dir_path=RAW_DATA_PATH)

## Questions

Question: what may be causing following inconsistencies?

In [4]:
cartera_df[['CLIENTE', 'OBLIGACION', 'FECHA_CIERRE', 'TIPO_CREDITO']].query('OBLIGACION == 219000654').sort_values(by='FECHA_CIERRE')

        CLIENTE  OBLIGACION FECHA_CIERRE TIPO_CREDITO
138890  FA21525   219000654   2021-08-31  RETANQUEADO

In [5]:
colocacion_df[['CLIENTE', 'OBLIGACION', 'TIPO_CREDITO']].query('OBLIGACION == 219000654')

   CLIENTE  OBLIGACION TIPO_CREDITO
0  FA21525   219000654     RENOVADO

Question: how does TIPO_CREDITO="RETANQUEADO" work?

In [6]:
cartera_df[['CLIENTE', 'OBLIGACION', 'FECHA_CIERRE', 'TIPO_CREDITO']].query('CLIENTE == "FA21525"').sort_values(by='FECHA_CIERRE')

        CLIENTE  OBLIGACION FECHA_CIERRE TIPO_CREDITO
40      FA21525   179000123   2017-04-30  RETANQUEADO
550990  FA21525   179000123   2017-05-31  RETANQUEADO
409330  FA21525   179000123   2017-06-30  RETANQUEADO
351983  FA21525   179000123   2017-07-31  RETANQUEADO
82979   FA21525   179000123   2017-08-31  RETANQUEADO
734651  FA21525   179000123   2017-09-30  RETANQUEADO
678426  FA21525   179000123   2017-10-31  RETANQUEADO
621885  FA21525   179000123   2017-11-30  RETANQUEADO
148549  FA21525   179000123   2017-12-31  RETANQUEADO
212475  FA21525   179000123   2018-01-31  RETANQUEADO
286370  FA21525   179000123   2018-02-28  RETANQUEADO
500761  FA21525   179000123   2018-03-31  RETANQUEADO
573305  FA21525   179000814   2018-05-31     RENOVADO
435810  FA21525   179000814   2018-06-30     RENOVADO
363182  FA21525   179000814   2018-07-31     RENOVADO
94832   FA21525   179000814   2018-08-31     RENOVADO
750541  FA21525   179000814   2018-09-30     RENOVADO
704846  FA21525   179000814   2018-10-31     RENOVADO
639496  FA21525   179000814   2018-11-30     RENOVADO
158726  FA21525   179000814   2018-12-31     RENOVADO
228046  FA21525   179000814   2019-01-31     RENOVADO
310988  FA21525   179000814   2019-02-28     RENOVADO
521187  FA21525   179000814   2019-03-31     RENOVADO
42066   FA21525   179000814   2019-04-30     RENOVADO
138890  FA21525   219000654   2021-08-31  RETANQUEADO

In [8]:
# colocacion_df.query('OBLIGACION == 1914000203')